.stHeader {
  display: flex;
  align-items: center;
  background-color: #f5f1cd;
  position: sticky;
  z-index: 1000;
  top: 0px;
  box-shadow: 2px 3px 6px rgb(26, 19, 47 0.5) ;
  justify-content: center;
  padding: 3px;
}

.stHeader-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.stHeader__logo > img {
  height: 45px !important; 
  object-fit: contain;
}

.stHeader__icons {
 display: flex;
}

.stHeader__icon {
  padding: 5px;
  cursor: pointer;
}

.stHeader__icon:hover {
  color: #5B7DB1;
  border-radius: 5px;
}

.stHeader__icon > .MuiSvgIcon-root {
  color: #5B7DB1;
  font-size: xx-large;
  margin-left: 20px;
  margin-right: 20px;
}

.stHeader__icon:hover > .MuiSvgIcon-root {
  color: #1A132F;
}

.stHeader__input {
  display: flex;
  align-items: center;
  border: 1px solid #61A4BC;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.stHeader__input > input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #1A132F;
}

.stHeader__input > .MuiSvgIcon-root {
  color: #5B7DB1;
}

.stHeader__avatar {
  cursor: pointer;
}

.stHeader__rem {
  display: flex;
  align-items: xx-large;
  margin-left: 25px;
}

.stHeader__rem > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #61A4BC;
  margin-left: 25px;
  cursor: pointer;
}

.stHeader__rem > .MuiSvgIcon-root:hover {
  color:#f5f1cd;
  background: #1A132F;
  text-transform: inherit;
  border-radius: 5px;
  margin-left: 25px;
}

.stHeader__rem > .MuiSvgIcon-root:hover {
  color: #1A132F;
  background: #f5f1cd;
}

.modal__title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.5);
}

.modal__title > h5 {
  color: gray;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 30px;
}

.modal__title > h5:hover {
  color: #b92b27;
}

.modal__info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.modal__info > p {
  margin-left: 10px;
  font-size: small;
  color: gray;
}

.modal__info > .modal__scope {
  display: flex;
  align-items: center;
  color: rgb(98, 98, 98);
  padding: 5px;
  margin-left: 10px;
  background-color: rgb(230, 230, 230);
  border-radius: 33px;
  cursor: pointer;
}

.modal__field {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  flex: 1;
}

.modal__field > .modal__fieldLink {
  color: gray;
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.modal__field > .modal__fieldLink > input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 5px;
}

.modal__buttons {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10px;
  align-items: center;
}

.modal__buttons > .cancel {
  margin-top: 10px;
  border: none;
  outline: none;
  color: gray;
  font-weight: 500;
  padding: 10px;
  border-radius: 33px;
  cursor: pointer;
}

.modal__buttons > .cancel:hover {
  color: red;
}

.modal__buttons > .add {
  border: none;
  outline: none;
  margin-top: 10px;
  background-color: #222;
  color: white;
  font-weight: 700;
  padding: 10px;
  border-radius: 33px;
  cursor: pointer;
  width: 50%;
}

.modal__buttons > .add:hover {
  background-color: #eee;
  color: #222;
}

@media only screen and (max-width: 600px) {
  .stHeader__icons {
    display: none;
  }

  .stHeader__input {
    display: none;
  }
}