.widget__contents {
  display: flex;
  cursor: pointer;
}

.widget__content {
  margin: 5px;
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #f5f1cd;
}

.widget__content > img {
  height: 30px;
  border-radius: 5px;
}

.widget__contentTitle {
  margin-left: 10px;
}
.widget__contentTitle > h5 {
  color: rgb(26, 19, 47 0.5);
}

.widget__contentTitle > p {
  color: #f5f1cd;
  font-size: small;
}